body { 
    background-image: url("assets/images.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(2px);
}
.card { 
    background: linear-gradient(135deg, #00feba, #5b548a); 
    color: #fff; 
    padding: 40px 35px;
    border-radius: 20px; 
    text-align: center; 
    width: 90%; 
    max-width: 400px; 
}
.search { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    gap: 10px; 
    margin-bottom: 20px;

}
input { 
    border: 0; outline: 0; background: #ebfffc; 
    color: #555; padding: 10px 25px; height: 45px; 
    border-radius: 30px; flex: 1; font-size: 18px; 
}
button { 
    border: 0; outline: 0; background: #ebfffc; 
    color: #555; height: 45px; width: 100px; /* Size bada kiya */
    border-radius: 30px; cursor: pointer; 
    font-weight: 600; font-size: 15px;
    transition: 0.3s; 
}
.temp {
    font-size: 80px; 
    font-weight: 500; 
    margin-top: -10px; 
}
.city {
    font-size: 45px; 
    font-weight: 400; 
}
.details { 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 0 20px; 
    margin-top: 50px; 
}
.error { 
    text-align: left; 
    margin-left: 10px; 
    font-size: 14px; 
    margin-top: 10px; 
    display: none; 
    color: #ffcccb; 
}